@import 'tailwindcss';
@import './themes/default.css';
@import './themes/terminal.css';

@theme inline {
  --color-black: var(--color-black);

  --color-gray-200: var(--color-gray-200);
  --color-gray-900: var(--color-gray-900);
  --color-gray-950: var(--color-gray-950);

  --color-primary-300: var(--color-primary-300);
  --color-primary-400: var(--color-primary-400);
  --color-primary-500: var(--color-primary-500);

  --color-secondary-300: var(--color-secondary-300);
  --color-secondary-400: var(--color-secondary-400);
  --color-secondary-500: var(--color-secondary-500);

  --color-auxiliary-300: var(--color-auxiliary-300);
  --color-auxiliary-400: var(--color-auxiliary-400);
  --color-auxiliary-500: var(--color-auxiliary-500);

  --font-sans: var(--font-fira-sans);
  --font-mono: var(--font-fira-code);

  --radius: 5px;
  --radius-lg: 10px;
  --radius-full: 100%;

  --list-style-type-dash: '- ';

  --grid-template-columns-job: 140px 1fr;
}

body {
  background-color: var(--color-gray-900);
  color: var(--color-gray-200);
  font-family: var(--font-sans);
}

body.animate {
  animation: 1s linear infinite alternate background;
}

strong {
  color: var(--color-secondary-500);
  font-weight: var(--font-weight-normal);
}

@keyframes background {
  from { background-color: var(--color-gray-900) }
  to { background-color: var(--color-gray-950) }
}

html:not([data-headlessui-focus-visible]) *:focus {
  outline: none !important;
}
