@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-200 font-sans;
}

body.animate {
  animation: 1s linear infinite alternate background;
}

strong {
  @apply text-secondary-500 font-normal;
}

@keyframes background {
  from { @apply bg-gray-900 }
  to { @apply bg-gray-950 }
}

html:not([data-headlessui-focus-visible]) *:focus {
  outline: none !important;
}
